---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services/proxy
  verbs:
  - create
  - get
  - list
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.hstream.io
  resources:
  - connectors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.hstream.io
  resources:
  - connectors/finalizers
  verbs:
  - update
- apiGroups:
  - apps.hstream.io
  resources:
  - connectors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.hstream.io
  resources:
  - connectortemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.hstream.io
  resources:
  - connectortemplates/finalizers
  verbs:
  - update
- apiGroups:
  - apps.hstream.io
  resources:
  - connectortemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps.hstream.io
  resources:
  - hstreamdbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.hstream.io
  resources:
  - hstreamdbs/finalizers
  verbs:
  - update
- apiGroups:
  - apps.hstream.io
  resources:
  - hstreamdbs/status
  verbs:
  - get
  - patch
  - update
