apiVersion: v1
kind: Service
metadata:
  name: hstreamdb-sample
spec:
  selector:
    hstream.io/instance: hstreamdb-sample
    hstream.io/component: gateway
  type: ClusterIP
  ports:
    - name: port
      port: 14789
      targetPort: 14789
---
apiVersion: v1
kind: Service
metadata:
  name: hstreamdb-sample-console
spec:
  selector:
    hstream.io/instance: hstreamdb-sample
    hstream.io/component: console
  type: NodePort
  ports:
    - name: port
      port: 5177
      targetPort: server-port
      nodePort: 31777
---
apiVersion: apps.hstream.io/v1alpha2
kind: HStreamDB
metadata:
  labels:
    app.kubernetes.io/name: hstreamdb
    app.kubernetes.io/instance: hstreamdb-sample
    app.kubernetes.io/part-of: hstream-operator
    app.kuberentes.io/managed-by: kustomize
    app.kubernetes.io/created-by: hstream-operator
  name: hstreamdb-sample
spec:
  gateway:
    endpoint: "hstreamdb-sample.default"
    image: hstreamdb/hstream-gateway
    replicas: 1
    container:
      name: gateway
  adminServer:
    image: hstreamdb/hstream:rqlite
    imagePullPolicy: IfNotPresent
    replicas: 1
    container:
      name: admin-server
  console:
    image: hstreamdb/hstream-console
    imagePullPolicy: IfNotPresent
    replicas: 1
    container:
      name: console
  hserver:
    image: hstreamdb/hstream:rqlite
    imagePullPolicy: IfNotPresent
    replicas: 1
    container:
      name: hserver
  externalHmeta:
      host: rqlite-svc
      port: 4001
      namespace: default
  hstore:
    image: hstreamdb/hstream:rqlite
    imagePullPolicy: IfNotPresent
    replicas: 3
    container:
      name: hstore
#    volumeClaimTemplate:
#      spec:
#        storageClassName: 'standard'
#        resources:
#          requests:
#            storage: 1Gi
