apiVersion: v1
kind: Service
metadata:
  name: hstreamdb-sample
spec:
  selector:
    hstream.io/instance: hstreamdb-sample
    hstream.io/component: gateway
  type: ClusterIP
  ports:
    - name: port
      port: 14789
      targetPort: 14789
---
apiVersion: v1
kind: Service
metadata:
  name: hstreamdb-sample-console
spec:
  selector:
    hstream.io/instance: hstreamdb-sample
    hstream.io/component: console
  type: NodePort
  ports:
    - name: port
      port: 5177
      targetPort: server-port
      nodePort: 31777
---
apiVersion: apps.hstream.io/v1alpha2
kind: HStreamDB
metadata:
  labels:
    app.kubernetes.io/name: hstreamdb
    app.kubernetes.io/instance: hstreamdb-sample
    app.kubernetes.io/part-of: hstream-operator
    app.kuberentes.io/managed-by: kustomize
    app.kubernetes.io/created-by: hstream-operator
  name: hstreamdb-sample
spec:
  hserver:
    image: hstreamdb/hstream:rqlite
    imagePullPolicy: IfNotPresent
    replicas: 3
    container:
      name: hserver
  hstore:
    image: hstreamdb/hstream:rqlite
    imagePullPolicy: IfNotPresent
    replicas: 3
    container:
      name: hstore
#    volumeClaimTemplate:
#      spec:
#        storageClassName: 'standard'
#        resources:
#          requests:
#            storage: 1Gi
  adminServer:
    image: hstreamdb/hstream:rqlite
    imagePullPolicy: IfNotPresent
    replicas: 1
    container:
      name: admin-server
  gateway:
    endpoint: "hstreamdb-sample.default"
    image: hstreamdb/hstream-gateway
    replicas: 1
    container:
      name: gateway
  console:
    image: hstreamdb/hstream-console
    imagePullPolicy: IfNotPresent
    replicas: 1
    container:
      name: console
      env:
        # This env config will be deprecated in the future.
        - name: HSTREAM_PUBLIC_ADDRESS
          # The HSTREAM_PUBLIC_ADDRESS will be shown on the overview of console dashboard
          # to tell users how to connect HStream cluster through hserver or gateway component.
          # The example here is filled with hserver svc since the gateway component is not required.
          # If you deploy gateway, you should deploy a svc or LB for the gateway as the same time, and
          # then set the svc name or LB addr of gateway to the HSTREAM_PUBLIC_ADDRESS
          value: hstreamdb-sample-internal-hserver:6570
        # This env config will be deprecated in the future.
        - name: PROMETHEUS_URL
          value: http://localhost:9090
  hmeta:
    image: rqlite/rqlite:latest
    imagePullPolicy: IfNotPresent
    replicas: 1
    container:
      name: hmeta
#    volumeClaimTemplate:
#      spec:
#        storageClassName: 'standard'
#        resources:
#          requests:
#            storage: 1Gi
