name: Release hstream operator

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check helm
        run: |
          version=$(grep -E "^version" deploy/charts/hstream-operator/Chart.yaml | grep -oE "[0-9]+\.[0-9]+\.[0-9]+(-(alpha|beta|rc)\.[0-9])?")
          if [ "$version" != "${GITHUB_REF##*/}" ]; then
            echo "Need update version for Chart.yaml"
            exit 1
          fi
          appVersion=$(grep -E "^appVersion" deploy/charts/hstream-operator/Chart.yaml | grep -oE "[0-9]+\.[0-9]+\.[0-9]+(-(alpha|beta|rc)\.[0-9])?")
          if [ "$appVersion" != "${GITHUB_REF##*/}" ]; then
            echo "Need update appVersion for Chart.yaml"
            exit 1
          fi
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2
      - uses: docker/metadata-action@v4
        id: meta
        with:
          images: ${{ github.repository_owner }}/hstream-operator-controller
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - uses: docker/login-action@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          context: .
      - id: generate_yaml
        run: |
          make kustomize
          pushd config/manager && kustomize edit set image controller="${{ github.repository_owner }}/hstream-operator-controller:${{ github.ref_name }}" && popd
          kustomize build config/default > hstream-operator.yaml
          echo "file=hstream-operator.yaml" >> $GITHUB_OUTPUT
      - id: prerelease
        run: |
          if echo "${{ github.ref_name }}" |egrep -q "^[0-9].[0-9].[0-9]$"; then
            echo "prerelease=false" >> $GITHUB_OUTPUT
          else
            echo "prerelease=true" >> $GITHUB_OUTPUT
          fi
      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: ${{ steps.prerelease.outputs.prerelease }}
          token: ${{ github.token }}
          name: Hstream Operator ${{ github.ref_name }} Released
          body_path: RELEASE.md
          generate_release_notes: true
          files: |
            ${{ steps.generate_yaml.outputs.file }}
