# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Run hstreamdb operator test case

concurrency:
  group: test-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    ## For update codecov.io
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  UnitTest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        testMode:
          - e2e-test
          - unit-test

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.3

    - name: Go Build Cache
      uses: actions/cache@v3
      with:
        path: |
            ~/.cache/go-build
            ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Install kubebuilder
      run: |
        OS=$(uname -s | tr '[:upper:]' '[:lower:]')
        ARCH=$(uname -m | sed 's/x86_64/amd64/')
        curl -fsL "https://storage.googleapis.com/kubebuilder-tools/kubebuilder-tools-1.16.4-${OS}-${ARCH}.tar.gz" -o kubebuilder-tools
        tar -zxvf kubebuilder-tools
        sudo mv kubebuilder/ /usr/local/kubebuilder

    - name: Install ginkgo
      run: go install github.com/onsi/ginkgo/v2/ginkgo

    - name: Run unit tests that don't depend on really k8s cluster
      if: matrix.testMode == 'unit-test'
      run: ginkgo run --cover --covermode=atomic -coverpkg=./... --coverprofile ./cover.out ./...

    - name: Setup minikube
      if: matrix.testMode == 'e2e-test'
      uses: medyagh/setup-minikube@latest

    - name: Install hmeta cluster
      if: matrix.testMode == 'e2e-test'
      uses: ./.github/actions/deploy-hmeta

    - name: Run e2e tests that depend on existing k8s cluster
      if: matrix.testMode == 'e2e-test'
      env:
        USE_EXISTING_CLUSTER: true
      # set label filter 'k8s' to ignore the test cases that don't deponed on really k8s cluster
      run: ginkgo run --cover --covermode=atomic -coverpkg=./... --coverprofile ./cover.out  --label-filter 'k8s' controllers/

    - name: Report code coverage
      uses: codecov/codecov-action@v3
      with:
        files: ./cover.out # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)

  deployment:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        install:
          - yaml
          - yaml_with_external_hmeta
          - helm
    steps:
      - run: minikube start

      - uses: actions/checkout@v3

      - uses: ./.github/actions/deploy-hmeta
        if: matrix.install == 'yaml_with_external_hmeta'

      - name: Build image
        env:
          IMG: "hstreamdb/hstream-operator-controller:latest"
        run: eval $(minikube docker-env) && docker build -t $IMG .

      - name: Deploy controller by yaml
        if: matrix.install != 'helm'
        env:
          IMG: "hstreamdb/hstream-operator-controller:latest"
        run: make deploy
      - name: Deploy controller by helm
        if: matrix.install == 'helm'
        run: |
          helm install hstream-operator deploy/charts/hstream-operator \
            --set image.tag=latest,image.repository=hstreamdb/hstream-operator-controller \
            --namespace hstream-operator-system \
            --create-namespace

      - name: Check operator
        timeout-minutes: 5
        run: |
          set -euo pipefail
          while [ "$(kubectl get pods -l "control-plane=hstream-operator-manager" -n hstream-operator-system -o json | jq '.items[0].status.containerStatuses[] | select(.ready==true) | .containerID')" = "" ]; do
            echo "waiting operator controller pod running"
            sleep 1
          done

      - name: Deploy hstreamdb
        if: matrix.install != 'yaml_with_external_hmeta'
        run: |
          kubectl apply -f config/samples/hstreamdb.yaml

      - name: Deploy hstreamdb with external hmeta cluster
        if: matrix.install == 'yaml_with_external_hmeta'
        run: |
            kubectl apply -f config/samples/hstreamdb_with_external_hmeta.yaml

      - name: Check hstream custom resource status
        timeout-minutes: 5
        shell: bash
        run: |
          while
            condition="$(kubectl get hstreamdb hstreamdb-sample -o json | jq '.status.conditions |select( .type == "Ready" and .status == "True")')";
            [[ "$condition" == "null" ]]
          do
            echo "waiting"
            sleep 1
          done
      - if: failure()
        run: kubectl logs -l "control-plane=hstream-operator-manager" -n hstream-operator-system --tail=1000
      - if: failure()
        run: kubectl describe hstreamdb hstreamdb-sample
      - if: failure()
        run: kubectl get hstreamdb hstreamdb-sample -o json
      - if: failure()
        run: kubectl get pods -A