# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Run hstreamdb operator test case


on:
  push:
  pull_request:
  workflow_dispatch:


jobs:

  UnitTest:
    runs-on: ubuntu-latest
        
    steps:
    - name: Setup Minikube Kubernetes Cluster
      uses: manusa/actions-setup-minikube@v2.7.1
      with:
        minikube version: 'v1.26.1'
        kubernetes version: 'v1.25.0'
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.3
      
    - name: Go Build Cache
      uses: actions/cache@v3
      with:
        path: |
            ~/.cache/go-build
            ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Init kubebuilder and Ginkgo
      run: |
        OS=$(uname -s | tr '[:upper:]' '[:lower:]')
        ARCH=$(uname -m | sed 's/x86_64/amd64/')
        curl -fsL "https://storage.googleapis.com/kubebuilder-tools/kubebuilder-tools-1.16.4-${OS}-${ARCH}.tar.gz" -o kubebuilder-tools
        tar -zxvf kubebuilder-tools
        sudo mv kubebuilder/ /usr/local/kubebuilder
        kubebuilder version
        
        go install github.com/onsi/ginkgo/v2/ginkgo
        go get github.com/onsi/gomega/...
        ginkgo version
    - name: Run unit tests that don't depend on realy k8s cluster
      run: ginkgo run ./...

    - name: Run unit tests that depend on realy k8s cluster
      env:
        USE_EXISTING_CLUSTER: true
      # set label filter 'k8s' to ignore the test cases that don't depond on realy k8s cluster
      run: ginkgo run controllers/ --label-filter 'k8s'
